<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="\css\detailed-report.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <nav class="">
                <div class="logo">
                    <img src="/images/org-logo-2.png" alt="" srcset="" />
                </div>
                <div class="header">
                    <!-- <h1 class="summary-header">My Desktop</h1> -->
                </div>
                <select class="theme-selector">
                    <option value="theme-dark">dark</option>
                    <option value="theme-light">light</option>
                </select>
            </nav>
            <main>
                <div class="level-one-info">
                    <div class="l1-info-card">
                        <div class="icon">
                            <i class="fa-solid fa-earth-americas"></i>
                        </div>
                        <div class="text">
                            <div class="header">Environment</div>
                            <div class="content">TEST1</div>
                        </div>
                    </div>
                    <div class="l1-info-card">
                        <div class="icon blue">
                            <i class="fa-regular fa-hourglass-half"></i>
                        </div>
                        <div class="text">
                            <div class="header">Duration</div>
                            <div class="content">1m 1s</div>
                        </div>
                    </div>
                    <div class="l1-info-card">
                        <div class="icon">
                            <i class="fa-solid fa-stairs"></i>
                        </div>
                        <div class="text">
                            <div class="header">Total Steps</div>
                            <div class="content">20</div>
                        </div>
                    </div>
                    <div class="l1-info-card">
                        <div class="icon danger">
                            <i class="fa-brands fa-xbox"></i>
                        </div>
                        <div class="text">
                            <div class="header">Validations Failed</div>
                            <div class="content">2</div>
                        </div>
                    </div>
                    <div class="l1-info-card">
                        <div class="icon">
                            <i class="fa-solid fa-cube"></i>
                        </div>
                        <div class="text">
                            <div class="header">Story#</div>
                            <div class="content">US12345</div>
                        </div>
                    </div>
                </div>
                <div class="l2-info">
                    <div class="table">
                        <div class="row">
                            <div class="col"><i class="fa-solid fa-check"></i></div>
                            <div class="col"><i class="fa-solid fa-expand"></i></div>
                            <div class="col">Okta Login</div>
                            <div class="col">Button clicked successfully</div>
                            <div class="col"><i class="fa-solid fa-computer-mouse"></i></div>
                            <div class="col">Login.js 123</div>
                        </div>
                        <div class="row danger">
                            <div class="col"><i class="fa-solid fa-xmark"></i></div>
                            <div class="col"><i class="fa-solid fa-expand"></i></div>
                            <div class="col">Okta Login</div>
                            <div class="col">Button click failure</div>
                            <div class="col"><i class="fa-solid fa-computer-mouse"></i></div>
                            <div class="col">Login.js 123</div>
                        </div>
                        <div class="row blue">
                            <div class="col"><i class="fa-solid fa-check"></i></div>
                            <div class="col"><i class="fa-solid fa-mountain-sun"></i></div>
                            <div class="col">Login Page</div>
                            <div class="col">Screenshot captured</div>
                            <div class="col"><i class="fa-solid fa-file-image"></i></div>
                            <div class="col">Login.js 123</div>
                        </div>
                        <div class="row orange">
                            <div class="col"><i class="fa-solid fa-check"></i></div>
                            <div class="col"><i class="fa-solid fa-cloud-bolt"></i></div>
                            <div class="col">Inquiry Auto api</div>
                            <div class="col">Response: 200 OK</div>
                            <div class="col"><i class="fa-regular fa-file-code"></i></div>
                            <div class="col">inquiry-auto.js 123</div>
                        </div>
                        <div class="row purple">
                            <div class="col"><i class="fa-solid fa-check"></i></div>
                            <div class="col"><i class="fa-solid fa-database"></i></div>
                            <div class="col">Policy ODS DB</div>
                            <div class="col">Successful</div>
                            <div class="col"><i class="fa-regular fa-file-code"></i></div>
                            <div class="col">policy-ods.js 123</div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
